<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Kamera fuer den Barcode/EAN-Scanner (mobile_scanner). Optional, damit
         die App auch auf Geraeten ohne Kamera installierbar bleibt. -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <!-- Push-Benachrichtigungen (FCM, Plan push-benachrichtigungen-plan.md).
         Ab Android 13 (API 33) Laufzeit-Berechtigung; darunter implizit. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Vibration/Haptik als Scan-Rueckmeldung (ScannerScreen / ScanFeedback). -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- Netzwerkstatus fuer die Offline-Erkennung (connectivity_plus). -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Biometrie-App-Lock (local_auth: Face/Touch/Fingerprint). -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <application
        android:label="timework"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Push (FCM): monochromes Status-Icon (sonst weisser Block) +
             Marken-Akzentfarbe + Default-Channel fuer Data-Messages ohne
             expliziten Channel. Channel-IDs werden zur Laufzeit via
             flutter_local_notifications angelegt (PushMessagingService). -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/push_accent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="aufgaben" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- url_launcher: Telefon/E-Mail/Web/SMS aus Kontakten oeffnen
             (Anf. 25 „wenige Schritte"). Least Privilege: nur diese Schemata. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="tel"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="mailto"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="sms"/>
        </intent>
    </queries>
</manifest>
